* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary: bisque;
    --danger: #dc3545;
    --success: #28a745;
    --spacing-s: 10px;
    --spacing-m: 20px;
    --spacing-l: 30px;
}
