.container {
    display: flex;
    border: solid 1px #ccc;
    border-radius: 10px;
    min-height: calc(var(--spacing-l) * 2);
    padding: var(--spacing-s);
    flex-wrap: wrap;
    gap: var(--spacing-m);
}

.avatar {
    width: calc(var(--spacing-l) * 3);
    height: calc(var(--spacing-l) * 3);
    border-radius: var(--spacing-s);
    margin-right: var(--spacing-m);
    background: var(--primary);
}

.name {
    margin-bottom: var(--spacing-s);
}

.data {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
}

.hireData {
    display: flex;
    gap: var(--spacing-s);
    flex-direction: column;
}


.linkContainer {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}